body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
.notes {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
  background-color: white;
  width: 100%;
}
.inputs-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  margin: 0px;
}
.nav-container {
  margin: 0px;
  height: 60px;
  border-bottom: solid 3px royalblue;
  position: fixed;
  top: -100%;
}
.navBar {
  background: #eee;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding-bottom: 5px;
}
.toggle-button {
  border: solid 1px white;
  color: white;
  background-color: royalblue;
}

.notes__sidebar { 
  overflow-y: auto;
  background: #eee;
  border-right: solid 3px royalblue;
  height: 100vh;
  width: 20%;
  padding: 0.3%;
  padding-right: 15px;
  padding-left: 10px;
  background-color: rgb(196, 201, 216);
}
@media (max-width: 991px) {
  .notes__sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
  }
  .nav-container {
    position: inherit;
    top: 0;
  }
}
.notes__save {
  width: 100%;
  border: none;
  border-radius: 10px;
  color: white;
  background: royalblue;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  padding-top: 7%;
  padding-bottom: 7%;
}
.notes__list-item {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  height: auto;
}
.success-message {
  color: white;
  background-color: royalblue;
  border: solid 1px white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2px;
}
.alert-message {
  background-color: whitesmoke;
  color: royalblue;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2px;
}
.remove-message {
  background-color: red;
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 2px;
}
.notes__item-selected {
  border: solid 3px royalblue;
}
.btn__delete {
margin-left: 90%;
border: solid 1px transparent;
background-color: transparent;
color: royalblue;
font-weight: bold;
border-radius: 5px;
}
.btn__delete-mouseover {
  background-color: red;
  color: white;
}
.notes__item-title {
padding-bottom: 0px;
}
.notes__item-body {
padding: 0px;
}
.notes__item-timestamp {
  font-style: italic;
  text-align: right;
  color: grey;
}
.notes__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: white;
  height: 100vh;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  font-family: sans-serif;
}
.notes__content-title {
  width: 100%;
  margin: 5px;
  background-color: white;
  border: none;
  border-bottom: solid 2px royalblue;
  outline: none;
  font-size: 50px;
}
.notes__content-body {
  flex-grow: 1;
  font-size: 20px;
  width: 100%;
  height: auto;
  margin: 5px;
  border: none;
  background-color: white;
  outline: none;
}
